<div>
    <mat-toolbar class="appmain__toolbar">
      <span>The Movie DB</span>
      <!-- <div class="appmain__toolbar__menu">
        <button mat-button [matMenuTriggerFor]="belowMenu">Genêros</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <ng-template ngFor let-item [ngForOf]="genres" let-i="index">
            <button mat-menu-item [routerLink]="['/genres', item.name]" >{{item.name}}</button>
          </ng-template>
        </mat-menu>
        <a mat-button [routerLink]="['/movies']">Movies</a>
      </div> -->
  </mat-toolbar>
  </div>    